@use "../shared/style.scss";
@use "slider.scss";

// hide these for now
#rec-message-man,
#rec-message-auto {
  display: none;
}

textarea::placeholder,
input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  box-shadow: 8px 9px 4px 0px rgba(88, 42, 158, 0.67);
  border-radius: 15px;
}

body {
  cursor: default;

  font-family: "Instrument Sans", sans-serif;

  user-select: none;

  font-size: 16px;
}

input {
  color: black;
  background-color: #ffffff;

  border: 5px solid white;

  padding: 10px;
  max-width: 100%;
  width: 100%;

  text-overflow: ellipsis;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    font-family: "Paytone One", serif;
    margin: 0;
    font-size: 24px;
  }

  .info-icon {
    position: relative;
    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;

    background: url("/assets/InfoBubble.svg") no-repeat center;
    background-size: contain;

    .info-box {
      position: absolute;
      left: -10px;

      z-index: 9999;
      border-radius: 14px;
      padding: 8px 10px;

      background-color: #270164;

      color: white;
      font-size: 13px;
      font-weight: bold;
      text-align: left;

      width: max-content;
      max-width: min(90vw, 400px);

      opacity: 0;
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        left: 25px;
        transform: translateX(-50%);

        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }

      &.top {
        bottom: 135%;

        &::after {
          top: 100%;
          border-top: 8px solid #270164;
        }
      }

      &.bottom {
        top: 135%;

        &::after {
          bottom: 100%;
          border-bottom: 8px solid #270164;
        }
      }
    }

    &:hover .info-box {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.outer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-direction: row;
  gap: 60px;

  height: calc(100% - 10vh);
  margin: 5vh 5vw 5vh 250px;

  color: #fff;
  background-color: #7538d3;

  border-style: solid;
  border-width: 5px;
  border-color: #8d57df;

  border-radius: 10px;
  padding: 35px;

  overflow-y: auto;
  overflow-x: hidden;
}

// 1 column
@media (max-width: 1200px) {
  .outer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .inner {
    min-height: 70vh!important; // TODO
    max-height: 90vh!important; // TODO
  }
}

.logo {
  position: absolute;
  left: 60px;
}

#options-container {
  height: 230px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 0px 15px 0px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 100%;
  max-width: 90%;
  margin: auto;
  min-height: 0;
}

.mode-info-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  padding: 15px;

  .info {
    font-family: "Instrument Sans", sans-serif;
    color: #3b038e;
  }
}

section.inner {
  min-height: 0;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

// TODO rename passage-box
.passage-box {
  min-height: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.passage {
  display: flex;
  flex-direction: column;

  font-family: "Instrument Sans", sans-serif;

  min-height: 0;
  height: 100%;
  margin-top: 5px;
  padding: 10px;

  overflow: hidden;

  border: 5px solid white;
  background-color: #ffffff;

  color: black;
  font-size: 16px;

  textarea {
    flex: 1;
    width: 100%;
    height: 100%;

    border: none;
    resize: none;

    font-family: inherit;
    font-size: inherit;

    overflow: auto;
    outline: none;
  }

  #pickarea {
    flex: 1;
    min-height: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-content: flex-start;

    overflow: auto;

    .word-span-pill {
      cursor: pointer;
      display: inline-block;
      padding: 0;
      margin: 1px 2px;
    }

    button {
      background-color: transparent;
    }

    button.highlighted {
      background-color: #ffce1b;
      font-weight: bold;
    }
  }

  #word-count {
    float: right;
    text-align: right;

    font-weight: 300;
    font-size: 0.85rem;

    color: #666;
  }
}

// IDK A BETTER NAME SORRY
.segment {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: space-around;
}
// IDK A BETTER NAME SORRY

.toggle-slider {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  width: 80%;
  height: 50px;

  background: #3b038e;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.slide-knob {
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;

  background: #9a6dde;
  border: 3px solid #3b038e;
  border-radius: 10px;

  transition: transform 0.2s ease;
  z-index: 0;

  &.slid {
    transform: translateX(100%);
  }
}

.toggle-btn {
  z-index: 1;

  color: white;
  background-color: unset;

  font-family: "Paytone One", serif;

  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding: 0 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;

  cursor: pointer;

  &:focus-visible {
    outline: 3px solid greenyellow;
    outline-offset: 4px;
  }
}

.close-btn {
  // IDK WHY THIS NEEDS TO BE HERE
  outline: none;
  scale: 1;

  width: 12px;
  height: 12px;
  background: transparent url("/assets/CloseButton.svg") no-repeat center;
}

.x-btn {
  width: 12px;
  height: 12px;
  background: transparent url("/assets/WordPillXButton.svg") no-repeat center;
}

.pencil-btn {
  width: 35px;
  height: 35px;
  background: transparent url("/assets/Pencil.svg") no-repeat center;
}

.mouse-btn {
  width: 35px;
  height: 35px;
  background: transparent url("/assets/MouseClick.svg") no-repeat center;
}

.refresh-btn {
  display: block;
  width: 35px;
  height: 35px;
  background: transparent url("/assets/Refresh.svg") no-repeat center;
}

.trash-btn {
  display: block;
  width: 35px;
  height: 35px;
  background: transparent url("/assets/Trash.svg") no-repeat center;
}

#word-bank-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  padding: 5px;

  border: 5px solid #70a0f9;
  background-color: #70a0f9;
}

.word-bank-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 5px;

  font-weight: bold;

  .info {
    color: rgb(60, 60, 236);
  }
  .error {
    color: red;
  }
  .warning {
    color: orange;
  }
}

#word-bank-info {
  visibility: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  gap: 6px;
}

.word-bank-buttons {
  display: flex;
  flex-direction: row;
}

#word-bank {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;

  justify-content: flex-start;
  align-content: flex-start;

  // TODO: add border or shadow for the bottom
  height: 100%;

  gap: 8px;

  font-size: 16px;
  color: white;

  overflow: auto;
}

.word-bank-pill {
  cursor: pointer;

  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  padding: 5px 14px;

  background: #ffce1b;
  border: 2px solid #2b5bb5;
  border-radius: 999px;

  color: black;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;

  width: fit-content;
  height: fit-content;

  white-space: nowrap;

  button {
    cursor: pointer;
    border: unset;
    background-color: unset;
    color: grey;
  }
}
